/*<link rel="stylesheet" type="text/css" href="style.css">*/
body{
	font-family: corbel;
	font-size: 100%;
	background-color: #D2BBA0;
    line-height: 22px;
	text-align: justify;
}
header{
	padding: 10px;
	background-color: #B5B4BF;
	/*B5B4BF*/
	/*593A2E гарний коричневий*/
	/*#759CBF гарний blue*/
}
header img{
	width: 45%;
	height:45%;
	position:relative;
	left: 28%;
}
div{
	border: 2px solid #ccc;
	border-radius: 20px;
	padding: 35px;
	background-color:rgba(255,255,255,0.8);
	/*0- повна прозорість, 1-непрозорість,0.5-напівпрозорість*/
	position: relative;
}
span{
	position: relative;
	left:10px;
}
.imgs{
	padding: 20px;
}
h1,h2{
	font-family: San-Serif;
	color: black;
	text-align: center;	
}
p{
	font-size:100%;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: justify;
	color: black !important;
	line-height: 21px;
}
#Start1{
	font-family: georgia, Serif;
	font-size: 6;
	color: black;
}
.container{
	color: #C0C0C0;
	list-style-type: disc;
	background-color: #E6E6FA;
	min-height: 64px;
}
.pages{
	background-color: #f2f2e9;
	min-height: 64px;
}
.page_conteiner{
	padding: 50px;
	background-color: #8c7f77;
}
table#unusual-hotels{
	border: black solid 2px;
	border-collapse: collapse;
	font-family:corbel; 
	font-size: 100%;
	color: black;
	line-height: 23px;
}
table#unusual-hotels TH{
	border: black solid 1px;
	background-color:grey;
	width: 100px;
	height: 50px;
}
table#unusual-hotels TD{
	border: black solid 1px;
	padding: 10px;
}
/*align='center' border="1" cellpadding="8" cellspacing="0"*/
table#Europetable{
	border: black solid 1px;
	/*align: center; don't work*/
	border-spacing: 5px;
	/*cellspacing: 5;
	cellpadding: 10;*/
	background-color: grey;
	width:90% ;
	font-family:corbel; 
	font-size: 100%;
	color: black;
	line-height: 22px;
	text-align: left;
	font-weight: normal;  
}  
table#Europetable TH{
	border: black solid 1px;
	padding: 10px;
	text-align:center;
	font-weight: bold; 
}
table#Europetable TD{
	border: black solid 1px;
	padding: 10px;	
}
/*border="1" cellspacing="5" cellpadding="10" bgcolor="grey" bordercolor="black" width="90%" align="center"*/
table#Americatable{
	border: black solid 1px;
	border-spacing: 5px;
	background-color: grey;
	width:90% ;
	font-family:corbel; 
	font-size: 100%;
	color: black;
	line-height: 22px;
	text-align: left;
	font-weight: normal; 	
}  
table#Americatable TH{
	border: black solid 1px;
	padding: 10px;
	font-weight: bold; 
}
table#Americatable TD{
	border: black solid 1px;
	padding: 10px;	
}
table#Asiatable{
	border: black solid 1px;
	border-spacing: 5px;
	background-color: grey;
	width:90% ;
	font-family:corbel; 
	font-size: 100%;
	color: black;
	line-height: 22px;
	text-align: left;
	font-weight: normal;  
}  
table#Asiatable TH{
	border: black solid 1px;
	padding: 10px;
	font-weight: bold; 
}
table#Asiatable TD{
	border: black solid 1px;
	padding: 10px;	
}
.links:link{
	text-decoration: none;
	color: #40180A; 
	font-weight: bold;
}
.links:visited{
	text-decoration: none;
	color: #655247; /*#594832     734E46     40180A*/
	font-weight: bold;
}
.links:hover {
	text-decoration: none;
	color: #A63D33; /* #F2CDAC*/
	font-weight: bold;
}

.site_links:link{
	text-decoration: none;
	color:#593A2E ; /*#655247*/
	font-weight: bold;
	font-style: italic;
}
.site_links:visited{
	text-decoration: none;
	color:#593A2E ; /*#655247*/
	font-weight: bold;
	font-style: italic;
}
.site_links:hover{
	text-decoration: none;
	color: #A63D33; /* #F2CDAC*/
	font-weight: normal;
	font-style: italic;
}
.site_links:active{
	text-decoration: none;
	color: red; /* #F2CDAC*/
	font-weight: bold;
	font-style: italic;
}

/*link="red" vlink="blue" alink="pink"*/
dt{
	padding-left:15px;
}
dl dt{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: black;
}
dd{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: black;
}
ul{
	list-style-type: disc;
}
/*
ul.hotel-list li{
	background: #ffe5c3;	
}*/
ol{
	list-style-type: decimal;
	color: black;
}

.hotel-list {
list-style: none;
/*background: #8c7f77; /*EEE3DB*/
padding: 20px;
border-radius: 3px;
}
.hotel-list li:before {
  content: "\2605";
}
.hotel-list b:first-child{
	color:#40180A;
	font-style: italic;
}

	/* WHITE CONTAINER */
.ribbonHead {
  width: 85%;
  background-color: #fff;
  padding: 20px 30px 30px 50px;
  margin: 30px 100px 30px 30px;
}

/* STYLING H1 ELEMENT */
.ribbonHead h1 {
  color: white;
  position: relative;
  background-color: #6D6875;
  margin: 0px -80px 20px -10px;
  padding: 24px 0px 16px 20px;
  text-align:left;
}

.ribbonHead h1:after {
  content: " ~~~~~~~~~~~";
}
.ribbonHead h1:before {
  content: "\210B ";
  color: white;
}
.floating-button {
    float: right;
    background-color: #D7D7E5;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
#back-to-top {
	position: fixed;
    bottom: 100px;
	right:5px;
}


















nav {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav ul li {
    display: inline-block;
}
nav ul li:last-child {
    margin-right: 10px;
}
nav ul li a {
    padding: 20px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}